.largelink {
	-moz-box-shadow:inset 0px 0px 20px 5px #8483d6;
	-webkit-box-shadow:inset 0px 0px 20px 5px #8483d6;
	box-shadow:inset 0px 0px 20px 5px #8483d6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#bdbdbd');
	background-color:#bdbdbd;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:-0.81px;
	border:2px solid #6b66ff;
	display:inline-block;
	color:#3d5887;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:81px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #217edb;
}
.largelink:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#bdbdbd');
	background-color:#bdbdbd;
}.largelink:active {
	position:relative;
	top:1px;
}