<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>계정 삭제하기</title>
    <style>
        body { background-color: #2c3338; }
    </style>
</head>
<body>
<center>
    <font color="#B5B2FF" size="6">탈퇴하기</font><br><br>
    <form action="deleteacc/" method="post">
        {% csrf_token %}
        <table border="1" bordercolor="#B5B2FF">
            <tr>
                <td><font color="#B5B2FF"><center>아이디</center></font></td>
                <td><input type="text" name = "id" style="background: #BDBDBD; color:#4C4C4C;" required></td>
            </tr>
            <tr>
                <td><font color="#B5B2FF"><center>비밀번호</center></font></td>
                <td><input type="password" name = "password" style="background: #BDBDBD; color:#4C4C4C;" required></td>
            </tr>
            <tr>
                <td><font color="#B5B2FF"><center>이메일</center></font></td>
                <td><input type="email" name = "mail" style="background: #BDBDBD; color:#4C4C4C;" required></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="탈퇴하기">&nbsp;&nbsp;<input type="button" value ="취소" onclick=window.close()>
    </form>
</center>
</body>
</html>